<FlexboxLayout class="page">
  <StackLayout class="form">
    <Image class="logo" src="~/app/images/logo-baladin.png"></Image>

    <GridLayout rows="auto, auto, auto">
      <StackLayout row="0">
        <Label text="Cadastrar Evento"
          style="padding:10; horizontal-align: center; color: white; font-size: 20"></Label>

        <TextField class="input" [(ngModel)]="evento.name" text="Digite aqui o nome do Evento" returnKeyType="next">
        </TextField>
        <StackLayout class="hr-light"></StackLayout>

        <TextField class="input" [(ngModel)]="evento.descricao" text="Digite aqui a descrição do Evento" rows="4"
          returnKeyType="next"></TextField>
        <StackLayout class="hr-light"></StackLayout>

        <DatePickerField hint="select date"></DatePickerField>

        <!-- <TextField class="input" type="calendar" [(ngModel)]="evento.data" text="Horário do Evento" rows="4" returnKeyType="next">
        </TextField> -->
        <StackLayout class="hr-light"></StackLayout>
        <DropDown class="dropdown" itemsTextAlignment="center" [items]="estilos" hint="Baladas" (opened)="onopen()"
          (closed)="onclose()"></DropDown>
      </StackLayout>
      <StackLayout row="2">
        <DropDown class="dropdown" itemsTextAlignment="center" [items]="estilos" hint="Estilo" (opened)="onopen()"
          (closed)="onclose()"></DropDown>
      </StackLayout>
    </GridLayout>

    <Button text="Salvar evento" class="btn btn-primary m-t-20" (tap)="save()"></Button>

    <Label text="Cancelar" class="login-label" (tap)="cancel()"></Label>
  </StackLayout>
</FlexboxLayout>
