<ActionBar class="page">
  <NavigationButton text="Voltar" android.systemIcon="ic_menu_back" (tap)="voltar()"></NavigationButton>
  <Image src="{{ logotipo }}" class="logoActionBar"></Image>
</ActionBar>

<ScrollView class="page">
  <StackLayout class="form">
    <Image class="foto" src="{{ evento.img }}"></Image>

    <Label class="titulo" text="{{ evento.name }}"></Label>
    <Label class="descricao fas" text="&#xf073;  {{ eventoData }}"></Label>
    <Label class="descricao fas" text="&#xf569;  {{ evento.nomeBalada }}"></Label>
    <Label class="descricao fas" text="&#xf3c5;  {{ evento.enderecoBalada }}"></Label>
    <Label class="estilo fas" text="&#xf001;  {{ evento.estilo }}"></Label>
    <Label textWrap="true" class="p-10 descricaoTexto" text="{{ evento.descricao }}"></Label>

  </StackLayout>
</ScrollView>
