<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344065851039-2bclffsahtka2d4suvmj8gghah14iaip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344065851039-2bclffsahtka2d4suvmj8gghah14iaip</string>
	<key>API_KEY</key>
	<string>AIzaSyC0MnLSwU8Is740Yr8vKSatqso_4ci-VBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>344065851039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.Baladin</string>
	<key>PROJECT_ID</key>
	<string>baladin-pi</string>
	<key>STORAGE_BUCKET</key>
	<string>baladin-pi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344065851039:ios:bf0dca386cb6483c0bacaa</string>
	<key>DATABASE_URL</key>
	<string>https://baladin-pi.firebaseio.com</string>
</dict>
</plist>